body {
  font-size: 14px;
}

.container {
  margin: 30px auto;
  width: 500px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
}

.menu li a.active {
  background: #BA55D3;
  color: #fff;
}

/* 他のsectionにhoverした時の見た目を変える */
.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: 0.4s;
}

.content.active {
  background: #BA55D3;
  color: #fff;
  /* 高さの最小値を指定 */
  min-height: 150px;
  padding: 14px;;
  /* activeクラスは表示させる */
  display: block;
}

/* activeが付いていないcontentを表示しないようにする */
.content {
  display: none;
}
